[v-cloak] {
  /* NOTE: Uncomment to suppress the "Flash" effect at loading time. */
  /*display: none;*/
}

.card-content {
  /* NOTE: Uncomment for a better display of card counters */
  /*font-size: 80px;*/
}

body {
  color: #777;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.card {
  border: 1px solid #ddd;
  text-align: center;
  box-shadow: 1px 1px 4px #ddd;
  font-size: 16px;
  width: 180px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.card-content {
  height: 160px;
  line-height: 160px;
  color: #34495e;
}

.card-footer {
  font-family: monospace;
  color: #2c3e50;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #ddd;
  background-color: #fafafa;
}
